<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fd-server 配置页面</a>
        </div>
      </div>
    </div>

    <!-- dymatic server config -->
    <div class="container">
      	<div class="jumbotron">
	      	<div>
		      	<h4>vhost配置</h4>
		      	<div class="server_cw">
					<p>只需设置域名和本地路径</p>    
				</div>
		      	<% if (data && JSON.stringify(data.vhost) != "{}") { %>
					<table class="table table-condensed setmb" id="serverWrap">
						<% if (data && data.vhost) { %>
							<% for(var i in data.vhost){ %>
								<tr>
									<td>
										<%= i %>
									</td>
									<td>
										<%= data.vhost[i] %>
									</td>
									<td>
										<button type="button" class="btn btn-xs btn-danger Wpr" severrule='<%= i %>'>删除</button>
										<% if (datac && datac.vhost) { %>
											<% if (datac.vhost[i] === data.vhost[i]) { %>
												<button type="button" class="btn btn-xs btn-info" disablerule='<%= i %>'>已开启</button>
											<% }else{ %>
												<button type="button" class="btn btn-xs" disablerule='<%= i %>'>已禁用</button>
											<% } %>
										<% } %>
									</td>
								</tr>
							<% } %>
		              	<% } %>
					</table>
				<% }else{ %>
					<table class="table table-condensed setmb" id="serverWrap" style="display:none;">
					</table>	
				<% } %>
	      		<button type="button" class="btn btn-primary" id="staticServer">添加</button>	
	      	</div>

	      	<div></div>
     	</div>
    </div>

    <!-- static server config -->
    <div class="container">
      	<div class="jumbotron">
	      	<div>
		      	<h4>proxy配置</h4>
		      	<div class="server_cw">
					<p>代理：localhost 端口: <span><%= datac.port %></span> <a href="https://github.com/liuxiaoyue/fd-server/wiki/proxy-help" class="proxyhelp">如何设置浏览器代理？</a></p>    
				</div>
		      	<button type="button" class="btn btn-primary" id="setRuleGroup">创建规则组</button>
	      	</div>
	      	<!-- 已经创建的规则组 -->
	      	<div class="panel panel-success" id="allgroupwrap" style="display:none;">
            	<div class="panel-heading">
              		<h3 class="panel-title">已创建的规则组</h3>
           		</div>
	            <div class="panel-body" id="groupBtnWrap">
	             
	            </div>
          	</div>
          	<!-- 每个规则组面板集合-->
          	<div id="allGroupPanel">
          		
	        </div>
     	</div>
    </div>

    <!-- mask -->
    <div id="mask" class="black_overlay" style="display:none;">
	</div>
	<!-- dialogue -->
	<div class="dialogOuter" id="dialogWrap" style="display:none;">
		<span class="dialogClose" id="closeDialog">关闭</span>
		<div class="dialogBox">
			<div class="dialogTitle">添加配置规则</div>
			<div class="dialogInner">
				<div class="dialogC">
					<span class="errorTips" style="display:none;" id="errorTip"></span>
					<div class="dialogU">
						<label class="dialogT" for="srcUrl" style="display:none;" >原url:</label>
						<label class="dialogT" for="srcUrl" style="display:none;">域名</label>
						<div class="dialogB"><textarea id="srcUrl" class="form-control" rows="3"></textarea></div>
					</div>
					<div class="dialogU">
						<label class="dialogT" for="urlTo" style="display:none;">转向到: </label>
						<label class="dialogT" for="urlTo" style="display:none;">本地路径</label>
						<div class="dialogB"><textarea id="urlTo" class="form-control" rows="3"></textarea></div>
					</div>
				</div>
				<div class="dialogF">
					<button type="button" class="btn btn-xs btn-info" id="saveRule">保存</button> &nbsp; &nbsp; &nbsp;
					<button type="button" class="btn btn-xs btn-info" id="cancelRule">取消</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var scope = {
			localData : <%- JSON.stringify(data) %>,
			configData : <%- JSON.stringify(datac) %>
		};
	</script>
	<script src="/javascripts/lithe.js"
		data-config="/config.js"
		data-main="conf/main.js"
		data-timestamp="1">
	</script>
  </body>
</html>
